.canvas{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;

}
.canvas > div{
    border: solid 1px gray;
    box-sizing: border-box;
    width: calc(500px / 16);
    height: calc(500px / 16);
}

.picker{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}
.picker  div{
    border-radius: 50%;
    box-sizing: border-box;
    width: calc(500px / 8);
    height: calc(500px / 8);
    border: solid 2px gray;
}